@media screen and (max-width: 700px){
   
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    font-family: 'Cherry Cream Soda', cursive;
    /*font-family: 'Frank Ruhl Libre', serif;*/
}


/************************************Pagina interfaz principal***************************************************/

#home {
    height: 100vh;
    width: 100%;
    background-image: url("Img/otro_fondo_1.png");
    background-size:cover; 
    background-repeat:no-repeat; 
    background-position: absolute; 
    display: grid;
    /* grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat (5,1fr);  */
    /* grid: template columns 80%; */
    grid-template-rows: 50% 20% 10% 20% ;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#home #invitacion{
    font-size: 1.2em;
    text-align: center;
    color:rgb(0, 0, 0); 
    -webkit-text-stroke: 0.001vw rgb(60, 173, 248);
    font-weight: bolder;
}

#home #botonRegistro {
    width: 9em;
    height: 3em;
    background: white;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    text-decoration-line: underline;
    font-family: inherit;
    font-size: 1.1em;
    -webkit-text-stroke: 0.1vw black;
    margin-bottom: 3em;
}

#home #titulo{
    font-size: 2.5em;
    text-align: center;
    color: white; 
    -webkit-text-stroke: 0.02vw black;
    font-weight: bolder;
}

#home img{
    display: none;
}

#home #botonIngreso{
    width: 9em;
    height: 3em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background-color: white;
    font-size: 1.1em;
    font-family: inherit;
    margin-bottom: 3em;
}



/************************************Pagina inicio de sesion***************************************************/

.formulario {
    background-color: #045C73;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 15% 45% 10% 10% 20% ;
    font-family:sans-serif;
}

.formulario h1 {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:1;
    color: white;
    font-size: 40px;
    text-align: center;
    justify-self: center;
    margin-top: 1em;
    align-self: flex-end;
}

.emailandpassword {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:4;
    margin-left: 20vw;
    align-self: center;

}

.emailandpassword input{
    height: 40px;
    width: 50vw;
    background-color:#FEEF6A;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.emailandpassword button {
    height: 40px;
    width: 50vw;
    background-color: #8FC1DF;
    border: 2px solid white;
    border-radius: 3px;
}

.emailandpassword img {
    /* justify-content: center;
    justify-self: center; */
    margin-left: 18vw;
  
}

.emailandpassword h4 {
    color: white;
    font-size: 1em;
    text-decoration: underline;
    /* margin-left: 10vw; */

}

.formulario .inicioConProveedores{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:4;
    grid-row-end:5;
    color: white;
    font-size: 1em;
    align-self: center;
    /* margin: 0 1em; */
    text-align: center;
}

.formulario h6{
    grid-column-start:3;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:3;
    display:inline-block;
    position:relative;
    color:white;
    font-size: 12px;
    font-weight: normal;
    align-self: center;
    justify-self: center;
    align-self: flex-end;
}

.formulario h6::after,h6::before{
    content:'';
    position:absolute;
    width: 80px;
    height:3px;
    background-color:#F043A0;
    top:6px;
}

.formulario h6::before{
    left: -95px;
}

.formulario h6::after{
    right: -95px;
}

.formulario figure{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end:7;
    color: white;
    justify-self: center;
    align-self: center;
    /* justify-items: center; */
}

.formulario figure img{
    width: 20%;
    cursor: pointer;
    margin-left: 4.5em;
}


/*****************************************Registro**********************************************************/

.formularioRegistro{
    background-color: #045C73;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 50% 10% 10% 10% ;
    /* grid-template-rows: 120px 60px 240px 50px 60px 45px; */
    font-family:sans-serif;
    /* 
    justify-content: center;
    justify-items: center;
    align-items: center; */
}

.formularioRegistro h1{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:1;
    color: white;
    font-size: 26px;
    text-align:center;
    justify-self: center;
    margin-top: 0.5em;
}

.formularioRegistro p{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:3;
    color: white;
    font-size: 1em;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin: 0em 1em;
}

#descripcionError{
    display: none;
}

.formularioRegistro .registroProveedores{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:4;
    grid-row-end:5;
    color: white;
    font-size: 1em;
    align-self: center;
    /* margin-top: 1em; */
}

#formularioInputs {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end:4;
    justify-self: center;
    margin-right: 2.5vw;
    align-self: center;
    /* margin-left: 3vw; */
    /* justify-items: center;
    justify-content: center; */
}

#formularioInputs input{
    height: 40px;
    width: 50vw;
    background-color:#FEEF6A;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
}

#formularioInputs button{
    height: 40px;
    width: 50vw;
    background-color: #8FC1DF;
    border: 2px solid white;
    border-radius: 3px;
}

.formularioRegistro h6{
    grid-column-start:3;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:3;
    display:inline-block;
    position:relative;
    color:white;
    font-size: 12px;
    font-weight: normal;
    align-self: flex-end;
    justify-self: center;
}

.formularioRegistro h6::after,h6::before{
    content:'';
    position:absolute;
    width: 80px;
    height:3px;
    background-color:#F043A0;
    top:6px;
}

.formularioRegistro h6::before{
    left: -95px;
}

.formularioRegistro h6::after{
    right: -95px;
}

.formularioRegistro figure{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:5;
    grid-row-end:7;
    color: white;
    justify-self: center;
    align-self: center;
    /* justify-items: center; */
}

.formularioRegistro figure img{
    width: 20%;
    cursor: pointer;
    margin-left: 4.5em;
}

.fotoPerfil {
    margin-top: 1em;
    width: 15em;
    height: 10em;
}
/************************************Interfaz-Configuración de Perfil***************************************************/

.contenedorPerfil {
    background-color: #045C73;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(6, 1fr);;
    justify-items: center;
    font-family:sans-serif;
}

.contenedorPerfil h1{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 1;
    justify-self:center;
    align-self: center; 
    text-align: center;

}
.contenedorInputs{
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 5;
    justify-self:center;
    align-self: center; 
    width: 100%;
    height: 100%;
    text-align: center;
    justify-self:stretch;
    align-self: stretch;
}

.contenedorInputs input, select, button{
    margin: 1em;
    width: 50vw;
    height: 3em;
    text-align: center;
}

.contenedorInputs h3{
    margin-top: 0.5em;
    font-size: 1em;
}

.contenedorImagen {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-self:stretch;
    align-self: stretch;
    display: none; 
}

.contenedorImagen p {
        margin-top: 1em;
    font-weight: bolder;
}


.contenedorImagen img {
    margin-top: 1em;
    width: 15em;
    height: 10em;
}

.contenedorOpciones {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 3; 
    justify-self:center;
    align-self: center;
    text-align: center;
}

.contenedorOpciones button {
    width: 30%;
    background: none;
}

.contenedorOpciones button:hover {
    background-color: rgb(132, 186, 202);
    color: #000000;
    font-weight: bolder;
}

.contenedorOpciones h3 {
    margin-top: 0.5em;
}




/************************************Muro***************************************************/

#contenedorMuro{
    background-color: #045C73;
    background-size: cover;
    background-repeat:repeat;
    display: grid;
    grid-template-columns:5% 30% 30% 30% 5%;
    grid-template-rows: 15% 10% 18% 62% ;
    height: 100vh;
    width: 100%;
    /* align-items: center; */
}

#contenedorMuro h1{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:1;
    margin-top: 0.5em;
    justify-self:start;
    text-align:center;
    color: white;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 36px;
}
#contenedorMuro h2{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:1;
    justify-self:start;
    text-align:center;
    color: white;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 22px;
}

.menu {
    top: 100%;
    right: 0;
    background: rgb(25, 156, 179);
    height: 0;
    overflow: hidden;
    justify-self: right;
    text-align: center;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:3;
    margin-top: 2.5em;
}
    
.menu button {
    color: rgb(255, 255, 255); 
    background-color: rgb(25, 156, 179);
}
    
.menu #perfil{
    width: 7em;
    height: 2em;
    font-weight: bolder;
    border: none;
    font-size: 0.9em;
}
    
.menu #salir{
    width: 7em;
    height: 2em;
    font-weight: bolder;
    border: none;
}
    
.menu button:hover, 
.menu button:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

.opcionesMenuOpen {
    height: auto;
    z-index: 100;
}

.menuToggle {
    padding: 1em;
    position: absolute;
    top: .3em;
    right: .2em;
}

.menuToggleOpen .inicio{
    transform: rotate(45deg);
}

.menuToggleOpen .inicio::before{
    opacity: 0;
}

.menuToggleOpen .inicio::after{
    transform: translateY(-3px) rotate(-90deg);
}   

.inicio, 
.inicio::before,
.inicio::after{
    content: " ";
    display: block;
    background: white;
    height: 3px;
    width: 1.7em;
    border-radius: 3px;
} 

.inicio::before{
    transform: translateY(-6px);
}

.inicio::after{
    transform: translateY(3px);
}
   
#containerFiltro{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:2;
    grid-row-end:3;
    justify-content: center;
    align-self: center;
 }

 #containerFiltro h3{
    text-align: center;
    color:#045C73;
    /* margin-top: 6em; */
}

#containerFiltro img{
    border-radius: 100%;
    height:3em;
    width: 3em;
    box-shadow: 3px 3px 1px 1px #F043A0;
    margin-right: 2%;
    margin-left: 2%;
}

.textArea {
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:4;
}
.muro{
    display: grid;
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
    grid-template-rows: 10% 20% 20% 25% 20% 5%;
    width:100%;
    height: 100%;
}
.campoPosteo{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:3;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 15px;
    height: 50px;
   
    text-align: center;
    resize: none;
}
.quePiensas{
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    align-self: center;
    color:white;
    font-size:12px;
}
.photoProfile{
    border-radius: 100%;
    height: 2.8em;
    width: 2.8em;
    box-shadow: 3px 3px 1px 1px #faf755;
    margin-right: 2%;
    margin-left: 2%;
    grid-column-start:2;
    grid-row-start:3;
}
.star{
    justify-self: start;
    align-self: end;
    grid-column-start:2;
    grid-row-start:5;
}
.botonEnviar {
    justify-self: end;
    align-self: end;
    grid-column-end:6;
    grid-row-start:5;
    width: 55px;
    height: 22px;
    background: #8FC1DF;
    border-color: #b3d9f0;
    border-radius: 6px;
    margin: 0;
    font-size: 10px;
}
.divSeccionPosts{
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:4;
    grid-row-end:5;
    align-self: initial;
    height: auto;
}
.logo{
    grid-column-start:2;
    justify-self: start;
    margin-left: 7%;
}
.holaUsuario{
    font-size: 12px;
    color:white;
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:2;
}
.autorPost{
    font-size: 12px;
    color:white;
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:2;
}
.divMuro{
    display: grid;
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
    grid-template-rows: 11.52px 23.03px 23.03px 28.80px 23.03px 5.75px; 
    width:100%;
    height: auto;
}
.divText{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-end:5;
    background: rgba(255, 255, 255, 0.84);
    border-radius: 15px;
    height: 55px;
    align-self: end;
    text-align: center;
    resize: none;
}
.botonBorrar{
    justify-self: end;
    align-self: end;
    grid-column-start:4;
    grid-row-start:5;
    width: 55px;
    height: 22px;
    background: #8FC1DF;
    border-color: #b3d9f0;
    border-radius: 6px;
    margin: 0;
    font-size: 10px;
}
.botonEditar{
    justify-self: end;
    align-self: end;
    grid-column-end:6;
    grid-row-start:5;
    width: 55px;
    height: 22px;
    background: #8FC1DF;
    border-color: #b3d9f0;
    border-radius: 6px;
    margin: 0;
    font-size: 10px;
}

/************************************ restablecimiento de la contraseña***************************************************/

.formularioRestablecerContrasena {
    background-color: #8EC1DE;
    color:black;
    font-size: 1em;
    text-align: center;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 45% 10% 45%;

}
.formularioRestablecerContrasena .imagen img {
    width: 12em;
    height: 10em;
    margin-top: 6em;
}
.formularioRestablecerContrasena .descripcion {
    grid-row: 2;
}

.formularioRestablecerContrasena .input {
    grid-row: 3;
}

.formularioRestablecerContrasena .input input{
    width: 12.5em;
    height: 2.5em;
    background: #FEEF6A;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.2px;
    margin: 0.5em;
    text-align: center;
}

.formularioRestablecerContrasena .input button {
    margin-top: 1em;
    width: 9em;
    height: 3em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background: none;  
    font-size: 1.1em;
    font-family: inherit;
}

.descripcionError {
    display: none;
}
}

