@media screen and (min-width: 700px){
*{
    margin:0;
    padding:0;
}
.container{
    height: 100vh;
    width: 100%;
    font-family: 'Cherry Cream Soda', cursive;
    
 }
/************************************Interfaz principal***************************************************/

 /* #home {
    height:100vh;
    width: 100%;
    background: #12c2e9;  
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
    display: grid;
    grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat (5,1fr); 
 } */
 #home {
    height:100vh;
    width: 100%;
    background-image: url("Img/fondo.jpg");
    background-size: 38%;
    background-color:#8FC1DF;
    /* background-color: rgba(154, 107, 175, 0.62);; */
    background-position:left;
    background-repeat:no-repeat;
    display: grid;
    grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat (5,1fr);
  
 }
 #home #titulo{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 2;
    justify-self:center;
    align-self: center;
    font-size: 3em;
    color:white; 
    -webkit-text-stroke: 0.02vw black;
    font-weight: bolder;
    text-align: center;
  }

  #home #fondoPerro{
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:2;
    grid-row-end: 3;
    transform: rotate(330deg);
  }

  #home #fondoGato{
    grid-column-start:3;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 4;
    transform: rotate(20deg);
  }

  
  #home #fondoPerro2{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end: 4;
    transform: rotate(20deg);
  }

  #home img{
    width: 30%;
  }

  #home #invitacion{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 4;
    justify-self:  center;
    align-self: end;
    -webkit-text-stroke: 0.02vw  black;
    /* color:hsl(203, 56%, 72%); */
    color:#045C73;
    font-size:1.3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

#home #botonIngreso{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 3;
    justify-self: center;
    align-self:end;
    width: 9em;
    height: 3em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background:#FEEF6A;  
    font-size: 1.1em;
    font-family: inherit;
}

#home #botonRegistro {
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
    width: 9em;
    height: 3em;
    background:none;
    border: none;
    /* border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0); */
    text-decoration-line: underline;
    font-family: inherit;
    font-size: 1.1em;
    /* -webkit-text-stroke: 0.1vw black; */
    /* margin-bottom: 2.3em; */
}
/************************************pagina inicio de sesion***************************************************/

 .formulario {
    background-color: #26798E; 
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 90% ;
    grid-template-rows: 20% 45% 10% 25%;
    justify-content: center;
    align-items: center;
}

.formulario h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-family: inherit;
}

.emailandpassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.emailandpassword input{
    width: 12.5em;
    height: 2.5em;
    background: #FEEF6A;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.2px;
    margin: 0.5em;
    text-align: center;
    
}

.emailandpassword button {
    background: #8FC1DF;
    border: 0.1em solid #FFFFFF;
    box-shadow: 0.1em 0.3em 0.3em #CDEBFD;
    border-radius: 0.2em;
    height: 2.5em;
    width: 12.5em;
    margin-bottom: 0.9em;
}

.emailandpassword img {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.emailandpassword h4 {
    cursor: pointer;
    text-align: center;
    color: white;
    padding-bottom: 2vh;
    border-bottom: 0.2em solid rgb(204, 7, 155);
    border-bottom-style: dashed;
    margin-top: 0.8em;
    font-size: 0.8em;
}

.inicioConProveedores h4 {
    display: block;
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-top: 5em;
}

/* .inicioGoogleFacebook button {
    width: 6em;
    height: 5em;
    background:#26798E url(Img/Icon_Huellita.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1em;
    font-weight: bolder;
    cursor: pointer;
} */

.formulario figure{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
   }
   .formulario figure img{
       width: 70%;

   }

   /* .formulario {
    background-color: #26798E;
    height: 100vh;
    width: 100%;
    display: grid; */
    /* grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat (3,1fr);   */
    /* grid-template-columns: 90% ;
    grid-template-rows: 20% 50% 10% 30%;
    justify-content: center;
  
    align-items: center;
}

.formulario h1 {
   grid-column-start:2;
   grid-column-end: 3;
   grid-row-start:1;
   grid-row-end:2;
   justify-self: center;
   align-self: center;
   text-align: center;
   color: white;
   font-weight: lighter;
   font-family: inherit;
} */

 /* .emailandpassword {
   grid-column-start:1;
   grid-column-end: 4;
   grid-row-start:2;
   grid-row-end:3;
   justify-self:center;
   align-self:center; */
   /* margin-left: 5%; */
 

/************************************Registro***************************************************/

.formularioRegistro{
    background-color: #045C73;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 120px 60px 240px 50px 60px 45px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family:sans-serif;
   }
   .formularioRegistro h1{
    color: white;
    font-size: 26px;
    text-align:center;
    margin-top: 55px;
    }
    .formularioRegistro p{
    color: white;
    font-size: 12px;
    text-align:center;  
    }

   .formularioRegistro input{
    height: 40px;
    width: 200px;
    background-color:#FEEF6A;
    margin-bottom: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    display: grid;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
   }
    .formularioRegistro button{
    height: 40px;
    width: 200px;
    background-color: #8FC1DF;
    border: 2px solid white;
    border-radius: 3px;
    margin-top:10px;
   }
   .formularioRegistro h6{
    display:inline-block;
    position:relative;   
    color:white; 
    font-size: 12px;
    font-weight: normal;
   }
   .formularioRegistro h6::after,h6::before{
       content:'';
       position:absolute;
       width: 80px;
       height:3px;
       background-color:#F043A0;   
       top:6px; 
    }
    .formularioRegistro h6::before{
        left: -95px;
    }
    .formularioRegistro h6::after{
        right: -95px;
    }
   .formularioRegistro figure{
       display: grid;
       grid-template-columns: 100px 100px;
       grid-row: auto;
       justify-content: center;
       justify-items: center;
   }
   .formularioRegistro figure,img{
       width: 60%;
   }
    /************************************ restablecimiento de la contraseña***************************************************/

    .formularioRestablecerContrasena {
        background-color: #8EC1DE;
        color:black;
        font-size: 1em;
        text-align: center;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 45% 10% 45%;

    }
    .formularioRestablecerContrasena .imagen img {
        width: 12em;
        height: 10em;
        margin-top: 6em;
    }
    .formularioRestablecerContrasena .descripcion {
        grid-row: 2;
    }

    .formularioRestablecerContrasena .input {
        grid-row: 3;
    }

    .formularioRestablecerContrasena .input input{
        width: 12.5em;
        height: 2.5em;
        background: #FEEF6A;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 0.2px;
        margin: 0.5em;
        text-align: center;
    }

    .formularioRestablecerContrasena .input button {
        margin-top: 1em;
        width: 9em;
        height: 3em;
        color:black ;
        border: 0.1em solid rgb(0, 0, 0);
        box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
        border-radius: 0.2em; 
        background: none;  
        font-size: 1.1em;
        font-family: inherit;
    }




    /************************************Muro***************************************************/

 #contenedorMuro{
     /* background-color:#045C73; */
     background-image: url(img/fondo2.png);
     display: grid;
     grid-template-columns:25% 50% 25%;
     grid-template-rows: 20% 40% 70% 10%;
     height: 100vh;
     width: 100%;
     align-items: center;
 }

 #contenedorMuro h1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:1;
    justify-self:center;
    align-self: center;
    text-align:left;
    color: white;
    font-family: 'Cherry Cream Soda', cursive;
 }
 
 #contenedorMuro #botones{
    grid-column-start:3;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    justify-self:end;
    align-self: start; 
    width: 6em;
    height: 2em;
    margin: 1em;
    font-weight: bolder;
    cursor: pointer;
 }

 #salir,#editarPerfil{
    width: 5em;
    height: 3em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background: white;  
    font-size: 1.1em;
    font-family: inherit;
    margin-bottom: 1em;
}

#editarPerfil{
    width: 7em;
    font-size: 0.9em;
}
 
#contenedorMuro #post{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
    justify-self:left;
    align-self: center;
    background-color:transparent;
    padding: 20%;
    
}

#containerFiltro{
        margin-top: 5em;
        justify-self:center;
        padding-left: 20%;
        grid-column-start:1;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end:1;
     }
}

#containerFiltro h2{
    text-align: center;
    color:#045C73;
    margin-top: 6em;
}

#containerFiltro img{
    border-radius: 100%;
    height: 5em;
    width: 5em;
    margin: 1em; 
    margin-bottom: 10px;
}


#post h4{
    color:white;
    margin-top: 2em;
    
}

#muro{
    background-color:white;
    border-radius: 1.5em;
    justify-self:center;
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:4;
    text-align: left;
    padding:15px;
    height: 50vh;
    width: 70%;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    font-size: 1.2em;
}

#postear{
    width: 4em;
    height: 1.5em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background: white;  
    font-size: 0.8em;
    font-family: inherit;
    
    }
    
    #editarPerfil{
        width: 7em;
        font-size: 0.9em;
    }


 /************************************ restablecimiento de la contraseña***************************************************/

    .formularioRestablecerContrasena {
        background-color: #8EC1DE;
        color:black;
        font-size: 1em;
        text-align: center;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 45% 10% 45%;

    }
    .formularioRestablecerContrasena .imagen img {
        width: 12em;
        height: 10em;
        margin-top: 6em;
    }
    .formularioRestablecerContrasena .descripcion {
        grid-row: 2;
    }

    .formularioRestablecerContrasena .input {
        grid-row: 3;
    }

    .formularioRestablecerContrasena .input input{
        width: 12.5em;
        height: 2.5em;
        background: #FEEF6A;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 0.2px;
        margin: 0.5em;
        text-align: center;
    }

    .formularioRestablecerContrasena .input button {
        margin-top: 1em;
        width: 9em;
        height: 3em;
        color:black ;
        border: 0.1em solid rgb(0, 0, 0);
        box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
        border-radius: 0.2em; 
        background: none;  
        font-size: 1.1em;
        font-family: inherit;
    }



footer{
    min-height: 2em;
    background-color: #191919;
    background-image: -webkit-linear-gradient(#3a3a3a, #000000);
    background-image: linear-gradient(top, #353535, #000000);
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    position:fixed;
    clear: both;
    margin-top: 0px;
    padding-top: 2px;
    bottom: 0%;
    color: #ffffff;
    text-align: center;
    justify-content:space-evenly;
    display:flex;
  }
  
  footer a{
      background-color: transparent;
      color: white;    
  }

