*{
    margin:0;
    padding:0;
}

/* .body{
    margin: 0;
    background-image: url("Img/fondo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.home{
    background-image: url("Img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contenedorRegistro{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.container {
    display: grid;
}

.home {
    text-align: center;
    padding:2em;
    margin:2em;
    border-radius:20px;
    font-weight:bolder;
    font-size:larger; 
}

.home h1 {
    margin-bottom:2.5em ;
}

.home h4 {
    cursor: pointer;
}

.home a {
    text-decoration: none;
    font-size: 0.8em;
}

.home button {
    width: 12em;
    height: 3em;
    margin: 2em;
    border-radius: 5%;
    background-color: white;
    transition: ease all 0.3s;
}

.home button:hover {
    width: 14em;
    height: 4em;
    border: 0.2em yellowgreen solid;
}

#botonRegistro {
    margin-top: 5em;
}

.formulario{
    text-align: center;
    padding:6em;
     margin:2em; 
    border-radius:20px;
    font-weight:bolder;
    font-size:larger; 
    height: 100%;
}

.formulario .emailandpasword {
   margin-top: 4em;
}

.formulario .emailandpasword h4{
  font-size: 0.8em;
  padding: 1.3em;
}

.formulario .emailandpasword a {
    text-decoration: none;  
    color: black;
    font-size: 0.8em;
  }
  
form #password{
    margin:1em 0em 0em 0em;
}
#botonIngresar, #botonRegistro{
    color:white;
    background-color:black;
    margin: 0.5em 3em 0em;
    width: 8em;
    height: 2em;
    margin: 2em;
    transition: .3s ease all;
}
#botonIngresar:hover{
    width: 10em;
    height: 2.5em;
}

h4{
    font-size: 0.8em;
    margin: 1em 0em 0em;
}
h6{
    margin: 1em 0em 0em;
    margin-left: 1em;
} */

/****************************************Iniciar Sesion************************************/
/* #registroGmail{
background-image: url(Img/Gmail.png);
background-repeat: no-repeat;
background-size: cover;

position: absolute;
width: 4em;
height: 4em;
left: 89px;
top: 215px; 
}*/