*{
    margin:0;
    padding:0;
}
.container{
    height: 100vh;
    width: 100%;
    font-family: 'Cherry Cream Soda', cursive;
 }
/************************************Interfaz principal***************************************************/


 #home {
    height:100vh;
    width: 100%;
    background-image: url("Img/fondo.jpg");
    background-color:#045C73;
    background-position:center;
    background-repeat:no-repeat;
    display: grid;
    grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat (5,1fr);
    
 }
 #home #titulo{
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end: 2;
    justify-self:start;
    margin-left: 2em;
    align-self: center;
    font-size: 2.5em;
    color:white; 
    -webkit-text-stroke: 0.02vw black;
    font-weight: bolder;
  }

  #home #invitacion{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 4;
    justify-self:  center;
    align-self: center;
    -webkit-text-stroke: 0.02vw  #045C73;
    color:hsl(203, 56%, 72%);
    font-size:1.5em;
    
}

#home #botonIngreso{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 3;
    justify-self: center;
    align-self:end;
    width: 9em;
    height: 3em;
    color:black ;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    border-radius: 0.2em; 
    background: white;  
    font-size: 1.1em;
    font-family: inherit;
}

#home #botonRegistro {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end: 5;
    justify-self: center;
    align-self: end;
    width: 9em;
    height: 3em;
    background: white;
    border: 0.1em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.3em 0.3em rgb(0, 0, 0);
    text-decoration-line: underline;
    font-family: inherit;
    font-size: 1.1em;
    -webkit-text-stroke: 0.1vw black;
    margin-bottom: 2.3em;
}
/* ***********************************pagina inicio de sesion***************************************************/
 
.formulario {
     background-color: #26798E;
     height: 100vh;
     width: 100%;
     display: grid;
     grid-template-columns: 50% ;
     grid-template-rows: 25% 50% 25%;
     justify-content: right;
     align-items: center;
     justify-items: center;
     /* align-items: center; */
 }

 .formulario h1 {
     text-align: center;
     color: white;
     font-weight: lighter;
     font-family: inherit;
 }

 .emailandpassword {
     justify-items: center;
 }

 .formulario .emailandpasword {
     margin-left: auto;
     margin-right: auto;
 }

 .emailandpassword input{
     width: 12.5em;
     height: 2.5em;
     background: #FEEF6A;
     border: 2px solid #FFFFFF;
     box-sizing: border-box;
     border-radius: 0.2px;
     margin: 0.5em;
     text-align: center;
 }

 .emailandpassword button {
     background: #8FC1DF;
     border: 0.1em solid #FFFFFF;
     box-shadow: 0.1em 0.3em 0.3em #CDEBFD;
     border-radius: 0.2em;
     height: 2.5em;
     width: 12.5em;
     margin-bottom: 0.9em;
 }

 .emailandpassword img {
     margin-top: 1em;
     margin-left: 2em;
     margin-right: 2em;
 }

 .emailandpassword h4 {
     cursor: pointer;
     text-align: center;
     color: white;
     padding-bottom: 0.5em;
     border-bottom: 2px solid rgb(204, 7, 155);
     border-bottom-style: dashed;
     margin-top: 0.8em;
     font-size: 0.8em;
 }

 .inicioConProveedores h4 {
     display: block;
     color: white;
     font-size: 0.8em;
     text-align: center;
 }

 .inicioGoogleFacebook{
     display: grid;
     grid-auto-flow: column;;
     position: relative;
     justify-content: center;
     }

 .inicioGoogleFacebook button {
     width: 6em;
     height: 5em;
     background:#26798E url(Img/Icon_Huellita.png);
     background-size: contain;
     background-repeat: no-repeat;
     margin: 1em;
     font-weight: bolder;
     cursor: pointer;
 }

 #contenedorMuro{
     background-color:#045C73;
     background-size: contain;
     background-repeat:no-repeat;
     background-position: absolute;
     display: grid;
     grid-template-columns:20% 50% ;
     grid-template-rows: 20% 40% 70% 10%;
     height: 100vh;
     width: 100%;
     align-items: center;
 }

 #contenedorMuro h1{
     font-size:1em;
     text-align:left;
     color: white;
     font-family: 'Cherry Cream Soda', cursive;
 }
 #salir{
     grid-column: 4;


/* .body{
    margin: 0;
    background-image: url("Img/fondo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.home{
    background-image: url("Img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contenedorRegistro{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.container {
    display: grid;
}

.home {
    text-align: center;
    padding:2em;
    margin:2em;
    border-radius:20px;
    font-weight:bolder;
    font-size:larger; 
}

.home h1 {
    margin-bottom:2.5em ;
}

.home h4 {
    cursor: pointer;
}

.home a {
    text-decoration: none;
    font-size: 0.8em;
}

.home button {
    width: 12em;
    height: 3em;
    margin: 2em;
    border-radius: 5%;
    background-color: white;
    transition: ease all 0.3s;
}

.home button:hover {
    width: 14em;
    height: 4em;
    border: 0.2em yellowgreen solid;
}

#botonRegistro {
    margin-top: 5em;
}

.formulario{
    text-align: center;
    padding:6em;
     margin:2em; 
    border-radius:20px;
    font-weight:bolder;
    font-size:larger; 
    height: 100%;
}

.formulario .emailandpasword {
   margin-top: 4em;
}

.formulario .emailandpasword h4{
  font-size: 0.8em;
  padding: 1.3em;
}

.formulario .emailandpasword a {
    text-decoration: none;  
    color: black;
    font-size: 0.8em;
  }
  
form #password{
    margin:1em 0em 0em 0em;
}
#botonIngresar, #botonRegistro{
    color:white;
    background-color:black;
    margin: 0.5em 3em 0em;
    width: 8em;
    height: 2em;
    margin: 2em;
    transition: .3s ease all;
}
#botonIngresar:hover{
    width: 10em;
    height: 2.5em;
}

h4{
    font-size: 0.8em;
    margin: 1em 0em 0em;
}
h6{
    margin: 1em 0em 0em;
    margin-left: 1em;
} */

